body{text-decoration-color:black

}




h5{color: black;}
.btn btn-primary{color: darkblue;
}
.row{
    margin-top: 50px;
    margin-bottom: 20px;
}

h5 {color:white;
font-weight: bold;
    margin-left:-14;
    margin-top: 12%;
    
    
}

.img {width: 40%;
height: 20%;}

.back{background-color: red;}
.imagemcadrs{margin-right:-1%;
image-resolution: from-image}


