body{text-decoration-color:black

}

{text-decoration-color: black}

p{color: black;}

h4{color: black;}

h5{color: black;}
.btn btn-primary{color: darkblue;
}
.row{
    margin-top: 50px;
    margin-bottom: 20px;
}

h5 {
  background: linear-gradient(90deg,white  100%, #00C9FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;
    margin-left: -14px;
    margin-top: 12px;
    
    
}

.img {width: 40%;
height: 20%;}

.back{background-image:linear-gradient(135deg, red 100%, cyan)}
a{background-color: }
.imagemcadrs{margin-left: 15px;}




